<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Morpion
    </ion-title>
  </ion-toolbar>
</ion-header>

<div>
<button (click)="reset()">Reset</button>
</div>

<div id="p1">
  <h1>{{p1.name}}</h1>
  <img id="pic1" class="glow" src="{{p1.pic}}">
</div>

<div id="p2">
  <h1>{{p2.name}}</h1>
  <img id="pic2" src="{{p2.pic}}">
</div>

<ion-grid>
  <ion-row *ngFor="let line of [0, 1, 2]">
    <ion-col *ngFor="let col of [0, 1, 2]" (click)="click(line, col)">
      <img src={{p1.pic}} *ngIf="matrix[line][col]===1">
      <img src={{p2.pic}} *ngIf="matrix[line][col]===2">
    </ion-col>
  </ion-row>
</ion-grid>
