ion-title{
  text-align:center;
}

ion-col{
  border: solid 1px white;
}

ion-row{
  height:120px;
}

ion-grid{
  width:400px;
}

img{
  width:100px;
  height:100px;
}

p{
  margin-top:20%;
  font-size:4em;
  color:red;
}

#p1 img,#p2 img{
  width:250px;
  height:250px;
}

#output{
  font-size:1.2em;
  margin-top:20px;
  font-style:italic;
  color:grey;
}

#p1, #p2{
  margin-top:35px;
  margin-bottom:auto;
}

#p1{
  float:left;
  margin-left:100px;
}

#p2{
  float:right;
  margin-right:100px;
}

.glow{
  filter: drop-shadow(0 0 0.75rem rgb(243, 153, 24));
}

.wrapper {
  position: absolute;
  min-height: 100vh;
}

[class|="confetti"] {
  position: fixed;
}

$colors: (#d13447, #ffbf00, #263672);

@for $i from 0 through 149 {
  $w: random(8);
  $l: random(100);
  .confetti-#{$i} {
    width: #{$w}px;
    height: #{$w*0.4}px;
    background-color: nth($colors, random(3));
    top: -10%;
    left: unquote($l+"%");
    opacity: random() + 0.5;
    transform: rotate(#{random()*360}deg);
    animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: unquote($l+random(15)+"%");
    }
  }
}
