<div *ngIf="(this.glob.getPic1()!=='../../../assets/pics/sprites_choix/point_interrogation.png') && (this.glob.getPic2()!=='../../../assets/pics/sprites_choix/point_interrogation.png')">

  <div style="margin-top:20px;">
    <ion-button shape="round" (click)="reset()">Reset</ion-button>
  </div>

  <p id="output">{{output}}</p>

  <div id="p1">
    <h1>{{p1.name}}</h1>
    <img id="pic1" src="{{p1.pic}}">
    <h1>{{this.glob.getScore1()}}</h1>
  </div>

  <div id="p2">
    <h1>{{p2.name}}</h1>
    <img id="pic2" src="{{p2.pic}}">
    <h1>{{this.glob.getScore2()}}</h1>
  </div>

  <ion-grid>
    <ion-row *ngFor="let line of [0, 1, 2]">
      <ion-col *ngFor="let col of [0, 1, 2]" (click)="click(line, col)">
        <img src={{p1.pic}} *ngIf="matrix[line][col]===1">
        <img src={{p2.pic}} *ngIf="matrix[line][col]===2">
      </ion-col>
    </ion-row>
  </ion-grid>

</div>

<div *ngIf="(this.glob.getPic1()==='../../../assets/pics/sprites_choix/point_interrogation.png') || (this.glob.getPic2()==='../../../assets/pics/sprites_choix/point_interrogation.png')">
  <p>Veuillez choisir des personnages</p>
</div>

<!--
<img src="../../../assets/gif/victoire.gif" *ngIf="(glob.getChoix1()==='Valentin'&&this.glob.getWin()===1)||(glob.getChoix2()==='Valentin'&&this.glob.getWin()===2)">
<img src="../../../assets/gif/défaite.gif" *ngIf="(glob.getChoix1()==='Valentin'&&this.glob.getWin()===2)||(glob.getChoix2()==='Valentin'&&this.glob.getWin()===1)">
-->

<div *ngIf="win.length!==0">
  <div *ngFor="let element of loop" class="wrapper">
    <div class="confetti-{{element}}"></div>
  </div>
</div>
