ion-title{
  text-align:center;
}

ion-col{
  border: solid 1px white;
}

ion-row{
  height:120px;
}

ion-grid{
  width:400px;
}

button{
  margin:15px;
  width:100px;
  font-size:1.3em;
  border-radius:7px;
  background-color:#474541;
  color:#C3C3C3;
}

button:hover{
  border:solid 1px #C3C3C3;
  font-size:1.4em;
  background-color:#66635E;
  margin:13px;
}

img{
  width:100px;
  height:100px;
}

#p1 img,#p2 img{
  width:250px;
  height:250px;
}

#p1, #p2{
  margin-top:50px;
}

#p1{
  float:left;
  margin-left:100px;
}

#p2{
  float:right;
  margin-right:100px;
}

.glow{
  filter: drop-shadow(0 0 0.75rem rgb(8, 142, 144));
}
