<ion-content>
  <div id="form" *ngIf="!glob.getNick1() || !glob.getNick2()">
    <app-nicknames></app-nicknames>
  </div>

  <div *ngIf="glob.getNick1() && glob.getNick2()">
    <ion-segment value="1">
      <ion-segment-button value="1" (click)="switch(1)">Choix des perso</ion-segment-button>
      <ion-segment-button value="0" (click)="switch(0)">Jeu</ion-segment-button>
    </ion-segment>


    <app-choix style="text-align:center;" *ngIf="tab===1"></app-choix>
    <app-morpion style="text-align:center;" *ngIf="tab===0"></app-morpion>


  </div>
</ion-content>
