*{ //marche pas même si partout sur internet ils disent que ça marche => maybe pas les mêmes versions
  cursor:url('../../assets/pics/curseur/cursor_default.png'),auto;
}

app-nicknames, app-choix, app-morpion{
  text-align:center;
}

ion-icon{
  width:30px;
  height:30px;
}

ion-input{
  margin-left:10px;
  width:130px;
  background-color:white;
  height:5px;
  border-radius:5px;
}

ion-button{
  width:20%;
  margin-left:40%;
  margin-top:10px;
}
