<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Morpion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col id="1" (click)="click(1)"></ion-col>
    <ion-col id="2" (click)="click(2)"></ion-col>
    <ion-col id="3" (click)="click(3)"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col id="4" (click)="click(4)"></ion-col>
    <ion-col id="5" (click)="click(5)"></ion-col>
    <ion-col id="6" (click)="click(6)"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col id="7" (click)="click(7)"></ion-col>
    <ion-col id="8" (click)="click(8)"></ion-col>
    <ion-col id="9" (click)="click(9)"></ion-col>
  </ion-row>
</ion-grid>
