*{
  cursor:url('../../assets/pics/curseur/cursor_default.png'),auto;
}

app-nicknames, app-choix, app-morpion{
  text-align:center;
}

ion-icon{
  width:30px;
  height:30px;
}

ion-input{
  width:150px;
  background-color:grey;
  height:5px;
  border-radius:5px;
}

ion-button{
  width:20%;
  margin-left:40%;
  margin-top:10px;
}
