#form{
  margin-top:100px;

  input{
    margin-top:40px;
    color:black;
    text-align:center;
    padding:10px;
    font-size:1.2em;
    border-radius:10px;
    background-color:#B49A9A;
    border: solid black 3px;
  }

  ion-button{
    margin-top:30px;
  }

  p{
    color:red;
    font-size:1.3em;
  }

  #background{
    position:fixed;
    width:100%;
    left:0;
    top:0;
    z-index:-1;
  }
}
