<ion-searchbar id="search" [(ngModel)]="input" showCancelButton="always" (keyup)="onKeypressEvent($event); setGlow()" (change)="setGlow" (ionClear)="displayReset()"></ion-searchbar>

<ion-button shape="round" (click)="reinit()">Réinitialiser choix</ion-button>

<p id="err">{{error}}</p>

<div id="p1">
  <p>{{glob.getNick1()}}</p>
  <img src={{glob.getPic1()}}>
  <button (click)="resetP1()">Changer</button>
</div>

<div id="p2">
  <p>{{glob.getNick2()}}</p>
  <img src={{glob.getPic2()}}>
  <button (click)="resetP2()">Changer</button>
</div>

<div *ngFor="let line of listPerso" id="container">
  <img id={{line.name}} src={{line.pic}} title={{line.name}} (click)="select(line.pic, line.name)" *ngIf="line.show===true">
</div>

<img id='random' src="../../../assets/pics/sprites_choix/point_interrogation.png" title="Aléatoire" (click)="random()">
