img{
  width:100px;
  height:100px;
  margin:15px;
}

button{
  margin-top:2px;
  border-radius:5px;
  background-color:#676462;
  width:80px;
  height:20px;
}

button:hover{
  background-color:#B49A9A;
}

.zoom:hover{
  width:130px;
  height:130px;
  border:solid 2px white;
  cursor:pointer;
  margin:0px;
  border-radius:65px;
}

div{
  display:inline;
}

ion-button{
  width:18%;
  margin-left:41%;
}

p{
  font-size:1.3em;
  text-decoration:underline;
  margin:0;
  margin-top:10px;
}

#p1{
  float:left;
  background-color:#438EE4;
}

#p2{
  float:right;
  background-color:#C72525;
}

#p1, #p2{
  border: solid 1px white;
  width:200px;
  height:250px;
  img{
    width:180px;
    height:180px;
  }
}

#err{
  color:red;
}

#glow_red{
  filter: drop-shadow(0 0 1rem rgb(199, 37, 37));
}

#glow_blue{
  filter: drop-shadow(0 0 1rem rgb(67, 142, 228));
}
