<ion-searchbar id="search" [(ngModel)]="input" showCancelButton="always" (keyup)="onKeypressEvent($event)" (ionClear)="displayReset()"></ion-searchbar>

<ion-button (click)="reinit()">Réinitialiser choix</ion-button><br>
<p id="err">{{error}}</p>

<div id="p1">
  <p>{{glob.getNick1()}}</p>
  <img src={{glob.getPic1()}}>
</div>

<div id="p2">
  <p>{{glob.getNick2()}}</p>
  <img src={{glob.getPic2()}}>
</div>

<div *ngFor="let line of listPerso">
  <img class="zoom" src={{line.pic}} title={{line.name}} (click)="select(line.pic, line.name)" *ngIf="line.show===true">
</div>

<img id='random' class="zoom" src="../../../assets/pics/sprites_choix/point_interrogation.png" title="Aléatoire" (click)="random()">
